<%- include("../includes/start.ejs")%>
<link rel="stylesheet" type="text/css" href="css/forms.css">
<link rel="stylesheet" type="text/css" href="css/auth.css">


</head>
<body>
<div class="backdrop"></div>
<%-include("../includes/navigation.ejs")%>

<div class="container">
    <% if (errorMessage) {%>

        <div class="user-message user-message--error"><%= errorMessage%></div>

    <% } %>

    <br>
    <br>



    <form action="/login" class="form" method="post">
        <h1 class="login-header">Log in to EasyLeaves</h1>

        <div class="form-body">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" value="<%=oldInput.username%>">

            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" value="<%=oldInput.password%>">

            <div class="login-buttons">
                <input class="btn btn-sm" type="submit" value="Login">
                <a class="link" href="/reset">Forgot password?</a>
            </div>
        </div>
    </form>

</div>
<%-include("../includes/end.ejs")%>
