<%- include("../includes/start.ejs")%>
<link rel="stylesheet" type="text/css" href="/css/forms.css">
<link rel="stylesheet" type="text/css" href="/css/auth.css">

</head>
<body>
<div class="backdrop"></div>
<%-include("../includes/navigation.ejs")%>

<% if (errorMessage) {%>

    <div class="user-message user-message--error"><%= errorMessage%></div>

<% } %>

<br>
<br>
<br>

<form class="new-password-form" action="/new-password" method="post">

    <h1 class="new-password-header">Change your password</h1>

    <div class="new-password-body">
        <label for="password">Password</label>
        <input class="form-control-sm form-control" type="password" id="password" name="password">
        <label for="confirm-password">Confirm password</label>
        <input class="form-control-sm form-control" type="password" id="confirm-password" name="confirmPassword">

        <button class="btn btn-sm " id="update-password-button" type="submit">Update password</button>
    </div>

    <input type="hidden" name="userId" value="<%= userId%>">

    <input type="hidden" name="passwordToken" value="<%= passwordToken%>">

    <input class="form-control-sm form-control" type="hidden" name="userType" value="<%= userType%>">




</form>
<%-include("../includes/end.ejs")%>
