<%- include("../includes/start.ejs")%>
<link rel="stylesheet" type="text/css" href="/css/forms.css">
<link rel="stylesheet" type="text/css" href="/css/auth.css">

</head>
<body>
<%-include("../includes/navigation.ejs")%>

<% if (errorMessage) {%>

    <div class="user-message user-message--error"><%= errorMessage%></div>

<% } %>

<br>
<br>
<br>

<form class="login-form jumbotron" action="/new-password" method="post">

    <div class="">
        <!--<label for="password">New Password</label>-->
        <input class="form-control-sm form-control" type="password" id="password" name="password" placeholder="New password"><br>
        <input class="form-control-sm form-control" type="password" name="confirmPassword" placeholder="Confirm password">
    </div>

    <input type="hidden" name="userId" value="<%= userId%>">

    <input type="hidden" name="passwordToken" value="<%= passwordToken%>">

    <input class="form-control-sm form-control" type="hidden" name="userType" value="<%= userType%>">

    <br>

    <button class="btn btn-sm" type="submit">Update password</button>

</form>
<%-include("../includes/end.ejs")%>
