<%- include("../includes/start.ejs") %>
<link rel="stylesheet" type="text/css" href="css/forms.css">
<link rel="stylesheet" type="text/css" href="css/auth.css">

</head>
<body>
<div class="backdrop"></div>
<%- include("../includes/navigation.ejs") %>

<% if (errorMessage) { %>

    <div class="user-message user-message--error"><%= errorMessage %></div>

<% } %>

<br>
<br>

<form class="reset-form" action="/reset" method="post">

    <h1 class="reset-header">Reset your password</h1>

    <div class="reset-body">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" value="<%=oldInput%>">

        <button class="btn btn-sm" id="reset-button" type="submit">Send password reset email</button>
    </div>



</form>
<%- include("../includes/end.ejs") %>
