<%- include("../includes/start.ejs")%>
<link href="/css/employee.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="backdrop"></div>
<%-include("../includes/navigation.ejs")%>

<main>

    <% if (errorMessage) {%>

        <div class="user-message user-message--error"><%= errorMessage%></div>

    <% } %>

    <% if (employees.length>0 ) { %>

        <div class="grid">
            <% for (let employee of employees) { %>

                <article class="card employee">
                    <header class="card_header">
                        <h1 class="employee__name">
                            <%= employee.name%>
                        </h1>
                        <h1 class="employee__email">
                            <%= employee.email%>
                        </h1>
                    </header>

                    <div class="card__info">
                        <h2 class="employee__supervisor">
                            Supervisor:<% if (employee.supervisor){%> <%= employee.supervisor.name%> <% } else {%> none <% }%>
                        </h2>
                        <!--<h2 class="employee__supervisee">-->
                            <!--Supervisees:-->
                        <!--</h2>-->

                    </div>

                    <div class="card_delete">

                        <a href="/admin/edit-employee/<%= employee._id %>" class="btn btn-sm">Edit</a>

                        <!--<input type="hidden" value="<%= employee._id %>" name="employeeId">-->
                        <!--<button class="btn btn-sm" onclick="deleteEmployee(this)" type="button">Remove</button>-->

                        <form action="/admin/remove" method="POST">
                            <input type="hidden" value="<%= employee._id %>" name="employeeId">
                            <button class="btn btn-sm" type="submit">Remove</button>
                        </form>
                    </div>
                </article>

            <% } %>
        </div>

    <% } else {%>

        <h1>No Employees Found!</h1>

    <% } %>
</main>

<%-include("../includes/end.ejs")%>
<!--<script src="/javascript/admin.js"></script>-->
